<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head><th:block th:include="include :: header('考试时间')" /></head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12" style="margin-bottom:15px">
            <a class="btn btn-primary" th:href="@{/student/index(sno=${sno})}"><i class="fa fa-arrow-left"></i> 返回首页</a>
        </div>
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5><i class="fa fa-clock-o" style="color:#ed5565;margin-right:8px;"></i>考试时间</h5>
                </div>
                <div class="ibox-content">
                    <table id="bootstrap-table"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:include="include :: footer" />
<script th:inline="javascript">
var sno = [[${sno}]];
$(function() {
    var options = {
        url: ctx + "student/schedule/list",
        createUrl: undefined, updateUrl: undefined, removeUrl: undefined,
        modalName: "考试", uniqueId: "cno",
        queryParams: function(params) {
            return {pageSize: params.limit, pageNum: params.offset / params.limit + 1, sno: sno};
        },
        columns: [
            {field:'cno',title:'课程号'},
            {field:'cname',title:'课程名'},
            {field:'credit',title:'学分'},
            {field:'examTime',title:'考试时间'},
            {field:'semester',title:'学期'}
        ]
    };
    $.table.init(options);
});
</script></body></html>
