<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head><th:block th:include="include :: header('发布公告')" /></head>
<body class="gray-bg">
<style>
.form-page .ibox-title h5 i {
    margin-right: 6px;
}
.form-page .form-group label {
    font-weight: 600;
    color: var(--secondary);
}
.form-page .form-group label .field-icon {
    margin-right: 6px;
    color: var(--primary);
    width: 16px;
    text-align: center;
}
.btn-submit {
    padding: 8px 28px;
    font-size: 14px;
    font-weight: 600;
}
</style>
<div class="container-div">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="ibox float-e-margins form-page">
                <div class="ibox-title">
                    <h5><i class="fa fa-bullhorn"></i> 发布公告</h5>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="notice-form">
                        <div class="form-group">
                            <label class="col-sm-3 control-label"><i class="fa fa-book field-icon"></i>课程：</label>
                            <div class="col-sm-6"><input class="form-control" name="cno" placeholder="填写课程号" required /></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"><i class="fa fa-header field-icon"></i>标题：</label>
                            <div class="col-sm-6"><input class="form-control" name="title" required /></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"><i class="fa fa-file-text field-icon"></i>内容：</label>
                            <div class="col-sm-6"><textarea class="form-control" name="content" rows="5"></textarea></div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6 col-sm-offset-3">
                                <button type="button" class="btn btn-primary btn-submit" onclick="submit()">
                                    <i class="fa fa-paper-plane"></i> 发布
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:include="include :: footer" />
<script th:inline="javascript">var ctx=[[@{/}]];
function submit(){$.post(ctx+'teacher/notice/add',$('#notice-form').serialize(),function(r){if(r.code==0){$.modal.msgSuccess("发布成功");setTimeout(function(){window.location.href=ctx+'teacher/notice';},1500);}else $.modal.msgError(r.msg);});}
</script></body></html>
