<!DOCTYPE html><html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head><th:block th:include="include :: header('成绩申诉')" /></head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12" style="margin-bottom:15px">
            <a class="btn btn-primary" th:href="@{/student/index(sno=${sno})}"><i class="fa fa-arrow-left"></i> 返回首页</a>
        </div>
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5><i class="fa fa-gavel" style="color:#ed5565;margin-right:8px;"></i>成绩申诉</h5>
                </div>
                <div class="ibox-content">
                    <table id="bootstrap-table"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:include="include :: footer" />
<script th:inline="javascript">var ctx=[[@{/}]];
$(function(){
  $.table.init({url:ctx+"student/appeal/list",createUrl:undefined,updateUrl:undefined,removeUrl:undefined,modalName:"申诉",uniqueId:"appealId",
    columns:[{field:"cname",title:"课程"},{field:"reason",title:"申诉理由"},{field:"status",title:"状态",formatter:function(v){
      if(v==0)return'<span class="label label-warning">待处理</span>';if(v==1)return'<span class="label label-success">已同意</span>';return'<span class="label label-danger">已驳回</span>';}},
      {field:"reply",title:"回复"},{field:"handleTime",title:"处理时间"}]});
});
</script></body></html>
