<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head><th:block th:include="include :: header('修改密码')" /></head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12" style="margin-bottom:15px">
            <a class="btn btn-primary" th:href="@{/student/index(sno=${sno})}"><i class="fa fa-arrow-left"></i> 返回首页</a>
        </div>
        <div class="col-sm-8 col-sm-offset-2">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5><i class="fa fa-lock" style="color:#ed5565;margin-right:8px;"></i>修改密码</h5>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="pwd-form">
                        <div class="form-group">
                            <label class="col-sm-3 control-label"><i class="fa fa-key" style="color:#676a6c;margin-right:6px;"></i>旧密码</label>
                            <div class="col-sm-6">
                                <input class="form-control" type="password" id="oldPwd" placeholder="请输入旧密码" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"><i class="fa fa-lock" style="color:#1ab394;margin-right:6px;"></i>新密码</label>
                            <div class="col-sm-6">
                                <input class="form-control" type="password" id="newPwd" placeholder="至少8位，含大小写字母+数字" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"><i class="fa fa-check-circle" style="color:#1c84c6;margin-right:6px;"></i>确认密码</label>
                            <div class="col-sm-6">
                                <input class="form-control" type="password" id="confirmPwd" placeholder="请再次输入新密码" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6 col-sm-offset-3">
                                <button type="button" class="btn btn-primary" onclick="save()"><i class="fa fa-check"></i> 修改</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:include="include :: footer" />
<script th:inline="javascript">var ctx=[[@{/}]];
function save(){var d={oldPassword:$('#oldPwd').val(),newPassword:$('#newPwd').val(),confirmPassword:$('#confirmPwd').val()};
  $.post(ctx+'student/profile/password',d,function(r){if(r.code==0){$.modal.msgSuccess("修改成功");$('#pwd-form')[0].reset();}else $.modal.msgError(r.msg);});}
</script></body></html>
