<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head><th:block th:include="include :: header('个人信息')" /></head>
<body class="gray-bg">
<style>
.form-page .ibox-title h5 i {
    margin-right: 6px;
}
.form-page .form-group label {
    font-weight: 600;
    color: var(--secondary);
}
.form-page .form-group label .field-icon {
    margin-right: 6px;
    color: var(--primary);
    width: 16px;
    text-align: center;
}
.btn-save {
    padding: 8px 28px;
    font-size: 14px;
    font-weight: 600;
}
</style>
<div class="container-div">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="ibox float-e-margins form-page">
                <div class="ibox-title">
                    <h5><i class="fa fa-user"></i> 个人信息</h5>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="profile-form">
                        <div class="form-group">
                            <label class="col-sm-3 control-label"><i class="fa fa-id-card field-icon"></i>教师号：</label>
                            <div class="col-sm-6"><input class="form-control" th:value="${teacher.tno}" readonly /></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"><i class="fa fa-user field-icon"></i>姓名：</label>
                            <div class="col-sm-6"><input class="form-control" th:value="${teacher.tname}" readonly /></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"><i class="fa fa-building field-icon"></i>院系：</label>
                            <div class="col-sm-6"><input class="form-control" th:value="${teacher.deptName}" readonly /></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"><i class="fa fa-graduation-cap field-icon"></i>职称：</label>
                            <div class="col-sm-6"><input class="form-control" th:value="${teacher.rank}" readonly /></div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6 col-sm-offset-3">
                                <button type="button" class="btn btn-primary btn-save" onclick="save()">
                                    <i class="fa fa-save"></i> 保存
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:include="include :: footer" />
<script th:inline="javascript">var ctx=[[@{/}]];
function save(){var d=$('#profile-form').serialize();$.post(ctx+'teacher/profile/edit',d,function(r){if(r.code==0)$.modal.msgSuccess("保存成功");else $.modal.msgError(r.msg);});}
</script></body></html>
