<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head><th:block th:include="include :: header('修改密码')" /></head>
<body class="gray-bg">
<style>
.form-page .ibox-title h5 i {
    margin-right: 6px;
}
.form-page .form-group label {
    font-weight: 600;
    color: var(--secondary);
}
.form-page .form-group label .field-icon {
    margin-right: 6px;
    color: var(--primary);
    width: 16px;
    text-align: center;
}
.btn-save {
    padding: 8px 28px;
    font-size: 14px;
    font-weight: 600;
}
</style>
<div class="container-div">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="ibox float-e-margins form-page">
                <div class="ibox-title">
                    <h5><i class="fa fa-lock"></i> 修改密码</h5>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="pwd-form">
                        <div class="form-group">
                            <label class="col-sm-3 control-label"><i class="fa fa-key field-icon"></i>旧密码：</label>
                            <div class="col-sm-6"><input class="form-control" type="password" id="oldPwd" /></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"><i class="fa fa-lock field-icon"></i>新密码：</label>
                            <div class="col-sm-6"><input class="form-control" type="password" id="newPwd" placeholder="至少8位" /></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"><i class="fa fa-check-circle field-icon"></i>确认密码：</label>
                            <div class="col-sm-6"><input class="form-control" type="password" id="confirmPwd" /></div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6 col-sm-offset-3">
                                <button type="button" class="btn btn-primary btn-save" onclick="save()">
                                    <i class="fa fa-edit"></i> 修改
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:include="include :: footer" />
<script th:inline="javascript">var ctx=[[@{/}]];
function save(){var d={oldPassword:$('#oldPwd').val(),newPassword:$('#newPwd').val(),confirmPassword:$('#confirmPwd').val()};
  $.post(ctx+'teacher/profile/password',d,function(r){if(r.code==0){$.modal.msgSuccess("修改成功");$('#pwd-form')[0].reset();}else $.modal.msgError(r.msg);});}
</script></body></html>
